#headName{
    color: white;
}

#mainCard{
    max-height: 100%; 
    margin-top: 2%;
    padding: 2%;
}

#navBar{
    background-color: #455A64;
}

#skillMainCard{
    margin-top: 2%;
}

#jumbo{
    max-height: 100%;    
    background-color: white;
    color: #455A64;    
}

#skillCard{
    color: #455A64;  
    margin-top: 2%;
}

#personalCard{
    color: #455A64;
}