<nav class="navbar" id="navBar">
  <a class="navbar-brand" href="#" id="headName">
    <img src="/assets/favicon/aw.png" width="30" height="30" class="d-inline-block align-top" alt=""> ARUNA WICKRAMASINGHE
  </a>
</nav>

<div class="container">

  <div class="card border-light" id="mainCard">
    <div class="card-body">

      <div class="row">

        <div class="col-sm-4">
          <img src="/assets/picOfmine.jpg" width="100%" height="90%" class="d-inline-block align-top rounded-circle" alt="">
        </div>

        <div class="col-sm-8">

          <div class="jumbotron" id="jumbo">
            <h1 class="display-5">Hello, I'm Aruna :)</h1>
            <p class="lead">Combining creativity and technology is the path that we walking every day. Write #codes to make better future
              for all.</p>
            <hr class="my-4">
            <p>
              <i class="fas fa-globe"></i> www.aruna.xyz |
              <i class="fas fa-at"></i> arunawickram@gmail.com |
              <i class="fas fa-map-marker"></i> Colombo - Sri Lanka |
              <a href="https://www.linkedin.com/in/aruna-wickramasinghe/">
                <i class="fab fa-linkedin"></i>
              </a>

            </p>


            <p class="lead">
              <a class="btn btn-warning btn-lg" href="#" role="button">DOWNLOAD CV</a>
            </p>


          </div>

        </div>

      </div>

    </div>
  </div>

  <div class="card border-light" id="skillCard">
    <div class="card-body">
      <h5 class="card-title mb-5">SKILLS</h5>

      <div class="row">

        <div class="col-sm-6">

            <div class="card">
                <div class="card-body">
    
                    <h6>Team work</h6>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">100%</div>
                    </div>
              
                    <h6>Empathy</h6>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">100%</div>
                    </div>
              
                    <h6>Communication</h6>
                    <div class="progress">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">100%</div>
                    </div>
    
                </div>
              </div>

        </div>

        <div class="col-sm-6">

          <div class="card">
            <div class="card-body">

                <h6>Xamarin</h6>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">80%</div>
                </div>
          
                <h6>Android studio</h6>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
          
                <h6>Angular</h6>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" style="width: 85%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">85%</div>
                </div>

            </div>
          </div>

          
      

        </div>
      </div>

     
    </div>
  </div>


</div>